<form *ngIf="!loading" [formGroup]="formulario" (ngSubmit)="login()" class='py-3 px-1 rounded d-flex flex-column'>

    <mat-form-field appearance="fill" class="my-1">

        <mat-label>Usuario</mat-label>
        <input formControlName="usuario" matInput>

        <mat-hint class='m-0 text-danger'
            *ngIf="formulario.get('usuario')?.touched && formulario.get('usuario')?.errors?.['required']">
            *El campo es obligatorio
        </mat-hint>

        <mat-hint class='m-0 text-danger' *ngIf="error.includes('Usuario')">
            *{{error}}
        </mat-hint>

    </mat-form-field>

    <mat-form-field appearance="fill" class="my-1">

        <mat-label>Contraseña</mat-label>
        <input formControlName="contrasenia" matInput type="password">

        <mat-hint class='m-0 text-danger'
            *ngIf="formulario.get('contrasenia')?.touched && formulario.get('contrasenia')?.errors?.['required']">
            *El campo es obligatorio
        </mat-hint>

        <mat-hint class='m-0 text-danger' *ngIf="error.includes('Contraseña')">
            *{{error}}
        </mat-hint>

    </mat-form-field>

    <button class='mt-2' mat-raised-button color="primary" [disabled]="formulario.invalid">Ingresar</button>

</form>
<div *ngIf="loading" class='text-center'>
    <h2>Cargando...</h2>
</div>