<form [formGroup]="formulario" (ngSubmit)="login()" class='py-3 px-1 rounded d-flex flex-column'>

    <mat-form-field appearance="fill" class="my-1">

        <mat-label>Usuario</mat-label>
        <input formControlName="usuario" matInput>

        <mat-hint class='my-2 text-danger'
            *ngIf="formulario.get('usuario')?.touched && formulario.get('usuario')?.errors?.['required']">
            *El campo es obligatorio
        </mat-hint>

    </mat-form-field>

    <mat-form-field appearance="fill" class="my-1">

        <mat-label>Contraseña</mat-label>
        <input formControlName="contrasenia" matInput type="password">

        <mat-hint class='my-2 text-danger'
            *ngIf="formulario.get('contrasenia')?.touched && formulario.get('contrasenia')?.errors?.['required']">
            *El campo es obligatorio
        </mat-hint>

    </mat-form-field>

    <button class='mt-3' mat-raised-button color="primary">Ingresar</button>

</form>