<header class='w-100 row align-items-end'>
    <div class="col-4">
        <button mat-icon-button data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <mat-icon fontIcon="menu"></mat-icon>
        </button>
    </div>
    <div class="col-4 text-center">
        <h1 class='h5 mb-0' appTitleFontSize (click)="redirect('')">Bienvenido</h1>
    </div>
    <div class="col-4 text-end">
        <mat-icon fontIcon="logout" (click)="redirect('logout')"></mat-icon>
    </div>
</header>