<div class='row vh-100 vw-100 m-0'>
    <app-nav-bar class='vh-100 col-12 col-md-2 bg-primary text-white'></app-nav-bar>
    <div class='vh-100 col-12 col-md-10 p-0'>
        <app-toolbar class='vh-7 px-2 d-flex align-items-center bg-light border'></app-toolbar>
        <main class='vh-86 px-2 d-flex align-items-center'>
            <app-lista-alumnos></app-lista-alumnos>
        </main>
        <app-footer class='vh-7 px-2 d-flex align-items-center bg-light border'></app-footer>
    </div>
</div>