<div class='row vh-100 w-100 m-0'>
    <app-nav-bar class='vh-100 col-4 col-md-2 bg-primary text-white collapse position-absolute'
        id="navbarToggleExternalContent">
    </app-nav-bar>
    <div class='vh-100 col p-0'>
        <app-toolbar class='vh-7 px-2 d-flex align-items-center bg-light border'></app-toolbar>
        <main class='vh-86 py-3 d-flex align-items-center justify-content-center'>
            <router-outlet></router-outlet>
        </main>
        <app-footer class='vh-7 px-2 d-flex align-items-center bg-light border' [title]="title"></app-footer>
    </div>
</div>