<mat-drawer-container class="vh-100 w-100" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">
        <app-nav-bar></app-nav-bar>
    </mat-drawer>

    <div class="sidenav-content">

        <app-toolbar class='vh-7 px-2 d-flex align-items-center bg-light border' [title]="title" [drawer]="drawer"></app-toolbar>

        <main class='vh-86 py-3 d-flex align-items-center justify-content-center'>
            <router-outlet></router-outlet>
        </main>

        <app-footer class='vh-7 px-2 d-flex align-items-center bg-light border'></app-footer>

    </div>

</mat-drawer-container>